.cascader-input {
    display: inline-block;
    margin-top: 30px;
    height: 40px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid #d9d9d9;
    font-size: 14px;
    padding-left: 20px;
}
.cascader-wapper {
    padding: 50px 50px;
}

.cascader-input:hover{
    border: 1px solid rgb(105, 182, 233);
}
