.cascader-input {
    display: inline-block;
    margin-top: 30px;
    height: 40px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid #d9d9d9;
    color:  #d9d9d9;
    font-size: 14px;
    padding-left: 20px;
}
.cascader-wapper {
    position: relative;
    padding: 50px 50px;
}

.cascader-input:hover{
    border: 1px solid rgb(105, 182, 233);
}

.cascader-input-arr {
    position: absolute;
    color:  #d9d9d9;
    height: 20px;
    width: 20px;
    top: 116px;
    right: 55px;
    transition: all 0.3s;
}
.cascader-sublist-wapper {
    margin-top: 5px;
    height: 180px;
    width: 120px;
    list-style-type: none;
    box-shadow: 2px 2px 2px 2px #d9d9d9;
    border-radius: 4px;
}
.ca-sub-i {
    padding: 10px 10px !important;
    font-weight: 400;
    border-radius: 4px;
}
.ca-sub-i:hover {
    background-color: rgb(194, 224, 245);
}